---
---
/*
 * 
 */

.meic-header {
  background: url(../images/waterfall.png) center bottom no-repeat #FFFFFF;
  background-size: 100% auto;
  .navbar-default {
    background: transparent;
    border-color: transparent;
    ul#navWrapper {
      width: 900px;
      margin-left: 10%;
    }
  }
}



section {
	padding: 40px 0;
	&.meic-page-home {
		padding-top: 0;
	}
}

.bg-info-pink {
	background-color: #ffd4f8;
}

.partner-logos {
  
}

