<body>
  <!--[if lt IE 9]>
  <p class="chromeframe">Hello, your web browser does not <strong>support some of the features</strong> on this website for an enhanced experience. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <!--begin header -->

  <section id="meic-home" class="meic-page-home meic-font">
    <header>
      <div class="meic-header">
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul id="navWrapper" class="nav navbar-nav center-block">
                <li id="situationRoom" class="img-responsive"><a href="#meic-what-is" title="What is the Election Situation Room?"></a></li>
                <li id="aboutMEIC" class="img-responsive"><a href="#meic-about" title="About TripleV"></a></li>
                <li id="whoWeAre" class="img-responsive"><a href="#meic-team" title="Meet Our Team"></a></li>
                <li id="whatToExpect" class="img-responsive"><a href="#meic-expect" title="What to Expect from TripleV"></a></li>
                <li id="questions" class="img-responsive"><a href="#meic-faq" title="Frequently Asked Questions"></a></li>
              </ul>
            </div>
          </div>
        </nav>
        <span class="img-responsive meicLogo center-block" /><br />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 center-block">
            <h2 class="meic-font-in-home">The <strong>ZEIC</strong> is an Election Situation Room (ESR) and Citizens Journalism initiative for the 2016 Tripartite Elections in Zambia - funded by <em>OSISA</em> and <em>Hivos</em>.</h2>
            <br />
          </div>
        </div>
        <div class="row">
          <ul>
            <li class="col-md-4 col-sm-4 col-xs-12 tripBoxes1 mainInformationWrapper">
              <div id="mobileVerification">
                <span class="mobileVerificationHeader">Mobile Voter <br />Verification</span>
                <p class="homescreenPaddingTop">
                  Verify your voter registration using<br /> your mobile for <strong>FREE</strong>.
                </p>
              </div>
            </li>
            <li class="col-md-4 col-sm-4 col-xs-12 tripBoxes2">
              <div id="citizenJournalism">
                <span class="mobileVerificationHeaderRed">Registration Centres</span>
                <p class="homescreenPaddingTop">
                  Find your voter registraion centre.
                  <a href="http://gottovote.zambiavote2016.org/" target="_blank" class="btn btn-success bt-front">Find Now!</a>
                </p>
              </div>
            </li>
            <li class="col-md-4 col-sm-4 col-xs-12 tripBoxes3">
              <div id="observationMonitoring">
                <span class="mobileVerificationHeaderGreen">Observation <br />and Monitoring</span>
                <p class="homescreenPaddingTop">Be an informed voter with near real-time<br /> evidence based reporting from the <strong>ZEIC</strong>.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="well well-lg meic-font">
            <h3 class="coming-soon meic-bottom-25 meic-top-25">Welcome to the <strong>2016 Zambia Tripartite Elections</strong> on May 20th, 2016.</h3>
          </div>
        </div>

      </div>
    </header>

  </section>
