<section id="meic-blog" class="meic-blog meic-font">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 meic-font-in-header">
        <h1 id="meic-blog-head-text">READ OUR BLOG</h1>
        <h2>Get the latest on the MEIC</h2>
      </div>
    </div>
    <div class="row">
      <!-- REVOLUTION SLIDER -->
      <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
          <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
              <!-- MAIN IMAGE -->
              <img src="../images/blog/blogImg_citizenJournalism.jpg" alt="CitizenJournalism" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"/>
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption lightgrey_divider skewfromrightshort customout"
              data-x=CC"85"
              data-y="224"
              data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
              data-speed="500"
              data-start="1200"
              data-easing="Power4.easeOut"
              data-endspeed="500"
              data-endeasing="Power4.easeIn"
              data-captionhidden="off"
              style="z-index: 2">
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption large_bold_white skewfromrightshort customout"
            data-x="80"
            data-y="96"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="500"
            data-start="800"
            data-easing="Back.easeOut"
            data-endspeed="500"
            data-endeasing="Power4.easeIn"
            data-captionhidden="off"
            style="z-index: 3">
            Citizen
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption large_bold_white skewfromleftshort customout"
          data-x="80"
          data-y="152"
          data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
          data-speed="300"
          data-start="1100"
          data-easing="Back.easeOut"
          data-endspeed="500"
          data-endeasing="Power4.easeIn"
          data-captionhidden="off"
          style="z-index: 4">
          Journalism
        </div>

        <!-- LAYER NR. 4 -->
        <div class="tp-caption small_light_white customin customout"
        data-x="80"
        data-y="240"
        data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
        data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
        data-speed="500"
        data-start="1300"
        data-easing="Power4.easeOut"
        data-endspeed="500"
        data-endeasing="Power4.easeIn"
        data-captionhidden="off"
        style="z-index: 5">
        The new platform where any citizen can report <br />on elections by simply sending it via SMS to <strong>58683</strong>
      </div>

      <div class="tp-caption customin customout"
      data-x="500"
      data-y="390"
      data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
      data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
      data-speed="500"
      data-start="1300"
      data-easing="Power4.easeOut"
      data-endspeed="500"
      data-endeasing="Power4.easeIn"
      data-captionhidden="off"
      style="z-index: 6">
      <a class="btn btn-success meic-font-in-blog"
      href="http://blog.malawivote2014.org/indexcf9a.html?p=248">Read Blog Entry</a>
    </div>

    <div class="tp-caption customin customout"
    data-x="700"
    data-y="390"
    data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
    data-speed="500"
    data-start="1300"
    data-easing="Power4.easeOut"
    data-endspeed="500"
    data-endeasing="Power4.easeIn"
    data-captionhidden="off"
    style="z-index: 7">
    <a class="btn btn-primary meic-font-in-blog"
    href="http://chisankho.malawivote2014.org/index.html">Send in your report</a>
  </div>

</li>
<!-- SLIDE  -->
<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
  <!-- MAIN IMAGE -->
  <img src="../images/blog/blogImg_presidentialDebate.jpg" alt="PresidentialDebate" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
  <!-- LAYERS -->
  <!-- LAYER NR. 4 -->
  <div class="tp-caption medium_bg_darkblue customin customout"
  data-x="80"
  data-y="340"
  data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
  data-speed="500"
  data-start="1300"
  data-easing="Power4.easeOut"
  data-endspeed="500"
  data-endeasing="Power4.easeIn"
  data-captionhidden="off"
  style="z-index: 2">
  Some of the candidates at the final Presidential Debate held at Victoria Hotel on May 6th, 2014.
</div>

<!-- LAYER NR. 5 -->
<div class="tp-caption medium_bg_asbestos skewfromleft customout"
data-x="80"
data-y="300"
data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
data-speed="800"
data-start="1500"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 3">
THIRD & FINAL DEBATE
</div>

<!-- LAYER NR. 9 -->
<div class="tp-caption large_bold_white_25 customin customout"
data-x="300"
data-y="34"
data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
data-speed="600"
data-start="1100"
data-easing="Back.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
style="z-index: 4">
Presidential Debate
</div>

<div class="tp-caption customin customout"
data-x="500"
data-y="390"
data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
data-speed="500"
data-start="1300"
data-easing="Power4.easeOut"
data-endspeed="500"
data-endeasing="Power4.easeIn"
data-captionhidden="off"
style="z-index: 6">
<a class="btn btn-success meic-font-in-blog"
href="http://blog.malawivote2014.org/index9fa1.html?p=230">Read Blog Entry</a>
</div>

</li>

<!-- SLIDE  -->
<li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
  <!-- MAIN IMAGE -->
  <img src="../images/blog/blogImg_voterVarification.jpg" alt="VoterVerification" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
  <!-- LAYERS -->
  <!-- LAYER NR. 1 -->
  <div class="tp-caption lightgrey_divider skewfromrightshort customout"
  data-x="90"
  data-y="160"
  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
  data-speed="500"
  data-start="1200"
  data-easing="Power4.easeOut"
  data-endspeed="500"
  data-endeasing="Power4.easeIn"
  data-captionhidden="off"
  style="z-index: 2">
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption large_bold_white skewfromrightshort customout"
data-x="80"
data-y="35"
data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
data-speed="500"
data-start="800"
data-easing="Back.easeOut"
data-endspeed="500"
data-endeasing="Power4.easeIn"
data-captionhidden="off"
style="z-index: 3">
Voter
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption large_bold_white skewfromleftshort customout"
data-x="80"
data-y="96"
data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
data-speed="300"
data-start="1100"
data-easing="Back.easeOut"
data-endspeed="500"
data-endeasing="Power4.easeIn"
data-captionhidden="off"
style="z-index: 4">
Verification
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption medium_light_white customin customout"
data-x="80"
data-y="190"
data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
data-speed="500"
data-start="1300"
data-easing="Power4.easeOut"
data-endspeed="500"
data-endeasing="Power4.easeIn"
data-captionhidden="off"
style="z-index: 5">
<span class="highlight-blue">A registered voter verifies over his </span>mobile by <br />sending his ID number to the short code <span class="highlight-blue">5VOTE (58683)</span>
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption customin customout"
data-x="500"
data-y="390"
data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
data-speed="500"
data-start="1300"
data-easing="Power4.easeOut"
data-endspeed="500"
data-endeasing="Power4.easeIn"
data-captionhidden="off"
style="z-index: 6">
<a class="btn btn-success meic-font-in-blog"
href="http://gottovote.malawivote2014.org/index.html">Open GotToVote</a>
</div>

</li>
</ul>
<div class="tp-bannertimer"></div>
</div>
</div>
<!-- /REVOLUTION SLIDER -->
</div>
<div class="row">
  <div class="col-md-12 text-center meic-height-100">
    <a href="http://blog.malawivote2014.org/index.html" class="btn btn-danger meic-font-in-blog"><i class="icon-arrow-right"></i>Read more on our Blog</a>
  </div>
</div>
</div>
</section>